/* shared portion */
* {
    margin: 0;

    font-family: 'Work Sans', sans-serif;

}

:root {
    --pink-color: rgb(254, 4, 183);

}

.btn-primary {
    padding: 1.4rem 2.5rem;
    border-radius: 48px;
    color: #FFF;

    font-size: 1.25rem;

    font-weight: 600;

    text-transform: uppercase;
    background-color: var(--pink-color);
    border: none;


}

/* header portion start */
.sp-gamer {
    color: #F948B2;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.4rem;
}

.nav-heading {
    display: inline-block;
    text-align: center;

    font-size: 2.8rem;

    font-weight: 700;
    margin-left: 1.5rem;


}

.nav-title img {
    width: 86.041px;
    height: 40px;
}

.nav-manu ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-manu ul li {
    list-style-type: none;
}

.nav-manu ul li a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;

    font-size: 1.125rem;

    font-weight: 500;

}

.nav-manu ul li:last-child {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1.2rem 1.5rem;

}

/* goat section start */
.goat-section {
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */

    /* justify-items: center; */
    display: flex;
    justify-content: space-between;

    gap: 20rem;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);





}

.goat-title {
    background-image: url("images/Group14.png");
    background-repeat: no-repeat;
    background-position: left;
    padding: 8.7rem 12rem;
    background-color: #FFF;
    text-align: center;

}

.goat-title h2 {
    color: #0B0223;
    text-align: center;

    font-size: 3rem;

    font-weight: 600;

    text-transform: uppercase;

}

.goat-title h1 {
    text-align: center;

    font-size: 5.9rem;

    font-weight: 800;

    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.5rem;

}

.goat-title p {
    color: #534C64;

    font-size: 1.4rem;

    font-weight: 500;

    text-transform: lowercase;
    margin-bottom: 2.5rem;
}

.goat-image {
    padding-right: 12rem;

}

.goat-image img {
    width: 100%;
}

.go-btn {
    background: #4EC5F7;
}

/* goat section end */

/* header portion end */

/* main start */
main {
    width: 80%;
    margin: 0 auto;

}

/* funny section start */
.funny-title {
    text-align: center;
    margin: 6rem 0 2.7rem 0;
}

.funny-title h3 {
    color: #0B0223;


    font-size: 3rem;
    margin-bottom: .7rem;

    font-weight: 700;

}

.sp-funny {
    color: #8758F1;
}

.funny-title p {
    color: #534C64;


    font-size: 1.2rem;

    font-weight: 400;

}

.funny-box-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.funny-box-container .box:nth-child(3) {

    position: relative;

}

.box img {
    margin-bottom: .7rem;
}

.icon-div {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 40%;
    flex-direction: column;
    border-radius: 50%;
}

.icon-para {
    color: #F948B2;
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 40%;
}

.play-box:hover {


    filter: brightness(80%);

}

/* funny section end */
/* play section start */

.play-section {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 15rem;
    box-sizing: border-box;
    margin-top: 6rem;
    margin-bottom: 10rem;
}



.play-title h3 {
    text-align: right;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 1.5rem;
}

.play-title p {
    color: #534C64;
    text-align: right;

    font-size: 1.2rem;

    font-weight: 400;

}

.play-image {
    position: relative;
}

.play-image img {
    width: 100%;
}

.play-image img:nth-child(2) {
    width: 40%;

    position: absolute;
    right: 80%;
    top: 70%;
}

.sp-play {
    color: var(--pink-color);
}

/* play section end */
/* classification section start */



.classification-section {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 2rem 2rem;
    align-items: center;
    justify-items: center;





}


.card {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.card img {
    width: auto;
}

.card:hover {
    border: 1px solid fuchsia;
    border-radius: 20px;
    padding: 10px;
    color: #F948B2;
}

/* fooer start */
footer {
    background: #0B0223;
    color: white;
    text-align: center;
    padding: 3rem;
    margin-top: 4rem;
}

.condition {
    margin-bottom: 2rem;
}

.li-div,
.condition {
    display: flex;
    justify-content: center;
    gap: 3rem;

}

.li-div li,
.condition li {
    list-style: none;
    margin-top: 1.5rem;

}

.icon-div2 {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2.5rem;
}

.icon-div2 i {
    font-size: 2rem;
}







/* responsive portion */
/* for mobile device */
@media screen and (max-width:576px) {

    /* header portion */
    /* nav portion */
    nav {
        flex-direction: column;
        gap: 3.4rem;
    }

    .nav-manu ul {
        flex-direction: column;
    }

    /* nav end */
    /* goat section start */
    .goat-section {

        padding: 2rem;
        flex-direction: column;

    }

    .goat-title {
        padding: 2rem 2rem;

    }

    .goat-title h2 {
        font-size: 2rem;
    }

    .goat-title h1 {
        font-size: 5rem;
    }

    .goat-image {
        padding-right: 0px;
    }

    /* goat portion end */

    /* button  */
    .btn-primary {
        padding: 1rem 2rem;



        font-size: 1rem;
    }

    /* funny section start */
    .funny-box-container {
        flex-direction: column;
    }

    .funny-title h3 {
        font-size: 2rem;
    }

    /* funny section end */

    /* play section start */
    .play-section {
        flex-direction: column;
    }

    .play-image img:nth-child(2) {
        left: -5%;
    }

    .play-title h3 {
        font-size: 2rem;
        text-align: center;
        line-height: 2.5rem;
    }

    .play-title p {
        text-align: center;
    }

    /* play section start */

    /* classification-section start */
    .classification-section {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem 0rem;

    }

    .li-div,
    .condition,.icon-div2 {
        flex-wrap: wrap;
    }
}


@media screen and (min-width:576px) and (max-width:992px) {

    /* nav start */
    nav {
        flex-direction: column;
        gap: 3rem;

    }

    .nav-manu ul {
        flex-direction: column;
    }

    /* nav end */
    /* goat secton start */
    .goat-section {

        padding: 5rem;
        flex-direction: column;

    }

    .goat-title {
        padding: 2rem 2rem;

    }

    .goat-image {
        padding-right: 0px;
    }

    /* goat sectin end */

    /* funny section start */
    .funny-box-container {
        flex-wrap: wrap;
    }

    /* funny secton  end */

    /* play section start */
    .play-section {
        flex-direction: column;
    }

    .play-title h3 {
        font-size: 2.5rem;
        text-align: center;
        line-height: 3rem;
    }

    .play-title p {
        text-align: center;
    }

    .play-image img:nth-child(2) {
        left: -5%;
        /* play section start */



    }

    .classification-section {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem 0rem;
    }

    .li-div,
    .condition,.icon-div2 {
        flex-wrap: wrap;
    }


}